<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rec.first.spine_fairy">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data

            android:name="com.google.android.gms.ads.APPLICATION_ID"

            android:value="@string/admob_app_id"/>

        <activity android:name=".LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="Spine_Fairy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingActivity">
            <meta-data

                android:name="com.google.android.gms.ads.APPLICATION_ID"

                android:value="@string/admob_app_id"/>
        </activity>
        <activity android:name=".PicToastActivity"/>
            <!--android:theme="@style/Theme.Transparent"-->

        <activity
            android:name=".PopupActivityforMove"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".MainActivity">

        </activity>
        <receiver android:name=".BroadcastD"></receiver>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>